:root {
    --color-blue-1: #00376c;
    --color-blue-2: #01477e;
    --color-blue-3: #025790;
    --color-blue-4: #0366a1;
    --color-blue-5: #0476b3;


    --color-lightblue-1: #dff3ff;
    --color-lightblue-2: #c7daea;
    --color-lightblue-3: #aec2d5;
    --color-lightblue-4: #96a9bf;
    --color-lightblue-5: #7d90aa;

}